// Tablet format
@media (max-width: 850px) {
  #main-nav {
    ul {
      margin-right: 1.5%;
    }
    li {
      padding: 0.5rem 0.25rem;
    }
  }

  #block-a {
    pointer-events: none;
    padding: 0 2% 12.5% 2%;
    .container {
      .lines {
        height: 1rem;
      }
    }
  }

  #block-b {
    pointer-events: none;
    padding: 0 2% 12.5% 2%;
    .container {
      .left-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          a {
            visibility: visible;
          }
        }
      }

      .middle {
        .item {
          border: 3px $cream solid;
          opacity: 1;
        }
      }

      .right-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          margin-left: 25%;
        }
        a {
          visibility: visible;
        }
      }
    }
  }

  #block-c {
    .container {
      .left-side-text {
        .vistor-text {
          font-size: 1.3rem;
        }
        #React {
          padding-top: 20%;
        }
      }
    }
  }

  #footer {
    h4 {
      font-size: 1rem;
    }
  }
}

// Smartphone format
@media (max-width: 500px) {
  // nav bar
  #main-nav {
    flex-direction: column;
    align-items: center;
    ul {
      margin-right: 0;
    }
  }
  // header
  #header-main {
    height: 100vh;
    h1 {
      font-size: 2.5rem;
    }
  }
  // all section selection
  #block-a,
  #block-b,
  #block-c {
    padding: 0 0 20% 0;
  }
  #block-a .header-a {
    height: 35px;
    padding-bottom: 5%;
    font-size: 2.25rem;
  }
  #block-b .header-b {
    height: 70px;
    padding-bottom: 10%;
    font-size: 2.25rem;
  }
  #block-c .header-c {
    height: 35px;
    padding-bottom: 5%;
    font-size: 2.25rem;
  }

  // About me
  #block-a .container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;

    .lines {
      height: 0;
      width: 0;
    }

    .home-about,
    .description {
      border-radius: 0;
      padding-top: 5%;
    }
  }

  // Languages and experience
  #block-b {
    .container {
      grid-template-columns: 1fr;
      pointer-events: none;
      .left-side {
        background-color: $dark-green;
        flex-direction: row;
        height: auto;
        .rows {
          background-color: $dark-green;
          width: auto;
          font-size: 1.3rem;
          transition: unset;
          a {
            padding-right: 0;
            transition: unset;
            visibility: visible;
          }
        }
      }

      .middle {
        grid-gap: 0;
        .item {
          padding: auto;
          opacity: 1;
          border: 1px $cream solid;
          transition: unset;
        }
      }

      .right-side {
        background-color: $dark-green;
        flex-direction: row;
        height: auto;
        .rows {
          background-color: $dark-green;
          width: auto;
          font-size: 1.3rem;
          transition: unset;
          margin-left: 0;
          a {
            padding-right: 0;
            transition: unset;
            visibility: visible;
          }
        }
      }
    }
  }

  // vistor map
  #block-c .container {
    grid-template-columns: 1fr;

    .left-side-text .vistor-text {
      font-size: 1.5rem;
      padding-top: 5%;
    }
    .left-side-text #React {
      padding-top: 2.5%;
      padding-bottom: 3%;
    }

    .map {
      min-height: 300px;
    }
  }

  // footer
  #footer {
    h4 {
      font-size: 0.8rem;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .container {
      .tooltip {
        font-size: 0.8rem;
        margin-right: 1%;
      }
      .item-links {
        margin-right: 1%;
        padding: 0;

        a i {
          margin-left: 0;
          height: 35px;
          width: 35px;
          line-height: 35px;
          padding: 0.2rem;
        }
      }
    }
  }
}

// Landscapes
@media (max-height: 580px) {
  body {
    pointer-events: none;
  }
  #block-b {
    .container {
      .left-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          a {
            visibility: visible;
          }
        }
      }

      .middle {
        .item {
          border: 1px $cream solid;
          opacity: 1;
        }
      }

      .right-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          margin-left: 25%;
        }
        a {
          visibility: visible;
        }
      }
    }
  }
}

@media (max-height: 330px) {
  body {
    pointer-events: none;
  }

  #block-b {
    .container {
      .left-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          a {
            visibility: visible;
          }
        }
      }

      .middle {
        .item {
          border: 1px $cream solid;
          opacity: 1;
        }
      }

      .right-side {
        .rows {
          background-color: $dark-color;
          width: 75%;
          margin-left: 25%;
        }
        a {
          visibility: visible;
        }
      }
    }
  }
}

@media (min-width: 1900px) {
  #block-a {
    padding: 0 5% 7.5% 5%;
    align-content: center;

    .header-a {
      font-size: 3.25rem;
    }
    .container {
      .home-about {
        line-height: 3.5rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 3rem;
        }
        h3 {
          font-size: 2.5rem;
        }
        h4 {
          font-size: 1.8rem;
        }
      }
      .description {
        .summary {
          font-size: 1.5rem;
        }

        .build-stack {
          font-size: 1.2rem;
        }
      }
    }
  }

  #block-b {
    padding: 0 5% 7.5% 5%;
    .header-b {
      font-size: 3.25rem;
    }
  }
  #block-c {
    padding: 0 5% 7.5% 5%;
    .header-c {
      font-size: 3.25rem;
    }
  }
}
