// Tablet format
@media (max-width: 850px) {
  #main-nav {
    ul {
      margin-right: 1.5%;
    }
    li {
      padding: 0.5rem 0.25rem;
    }
  }

  #block-a {
    padding: 0% 5% 7.5% 5%;
    .title-box {
      .header-a {
        font-size: 2rem;
      }
      #underline {
        width: 5.5rem;
      }
    }
    .container {
      .summary {
        font-size: 1rem;
        h1 {
          font-size: 1.5rem;
        }
      }
    }
    #bar-below {
      width: 20rem;
    }
  }
  #block-b {
    padding: 0% 5% 7.5% 5%;
    .title-box {
      .header-b {
        font-size: 2rem;
      }
      #underline {
        width: 7.5rem;
      }
    }
    #pagination {
      min-height: 1.6rem;
    }
    #project {
      .summary {
        min-height: 434px;
        h3 {
          margin: 0 20% 0 20%;
        }
      }
    }
    #bar-below {
      width: 20rem;
    }
  }

  #block-c {
    padding: 0% 5% 15% 5%;
    .title-box {
      .header-c {
        font-size: 2rem;
      }
      #underline {
        width: 9rem;
      }
    }
    .container {
      .map {
        min-height: 0;
        height: 400px;
      }
    }
  }
  #footer {
    h4 {
      font-size: 0.75rem;
    }
    .container .tooltip {
      font-size: 0.75rem;
    }
  }
}

// Smartphone format
@media (max-width: 500px) {
  #bar-above {
    width: 18rem;
  }
  #bar-below {
    width: 18rem;
  }
  // nav bar
  #main-nav {
    flex-direction: column;
    align-items: center;
    ul {
      margin-right: 0;
    }
  }
  // header
  #header-main {
    height: 100vh;
    p {
      font-size: 2.5rem;
    }
  }
  // all section selection
  #block-a,
  #block-b,
  #block-c {
    padding: 0 0 20% 0;
  }

  // About me
  #block-a {
    .title-box {
      margin-left: 0;

      .header-a {
        height: 35px;
        text-align: center;
        padding-bottom: 1%;
        font-size: 1.75rem;
      }

      #underline {
        height: 1px;
        width: 8.5rem;
        margin-left: 33%;
        margin-bottom: 1rem;
      }
    }

    .container {
      .summary {
        font-size: 1rem;
        text-align: center;
        padding-bottom: 20%;
        h1 {
          font-size: 1.25rem;
          text-align: center;
        }
      }
    }
  }

  // Languages and experience
  #block-b {
    .title-box {
      margin-left: 0;
      .header-b {
        height: 35px;
        text-align: center;
        padding-bottom: 1%;
        font-size: 1.75rem;
      }
      #underline {
        height: 1px;
        width: 8.5rem;
        margin-left: 33%;
        margin-bottom: 1rem;
      }
    }
    #project {
      .summary {
        min-height: 496px;
        #project-summary {
          padding: 0 5% 0 5% !important;
        }
      }
    }
    .container {
      padding-bottom: 20%;
      .item {
        .image-content {
          .fa-css3-alt {
            display: none;
          }
        }
      }
    }
  }

  // vistor map
  #block-c {
    .title-box {
      margin-left: 0;

      .header-c {
        height: 35px;
        text-align: center;
        padding-bottom: 1%;
        font-size: 1.75rem;
      }

      #underline {
        height: 1px;
        width: 8.5rem;
        margin-left: 33%;
      }
    }
    .container {
      grid-template-columns: 1fr;

      .left-side-text .vistor-text {
        font-size: 1.1rem;
        padding-top: 5%;
      }
      .left-side-text #React {
        padding-top: 2.5%;
        padding-bottom: 3%;
      }

      .map {
        min-height: 300px;
      }
    }
  }

  // footer
  #footer {
    h4 {
      font-size: 0.8rem;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    .container {
      .tooltip {
        font-size: 0.8rem;
        margin-right: 1%;
      }
      .item-links {
        margin-right: 1%;
        padding: 0;

        a i {
          margin-left: 0;
          height: 35px;
          width: 35px;
          line-height: 35px;
          padding: 0.2rem;
        }
      }
    }
  }
}

// Landscapes
@media (max-height: 580px) {
  #bar-above {
    width: 24rem;
  }
  #bar-below {
    width: 24rem;
  }

  #header-main {
    p {
      font-size: 2.1rem;
    }
  }
  #block-a {
    .title-box {
      .header-a {
        font-size: 1.8rem;
      }
      #underline {
        width: 5rem;
        margin-bottom: 1rem;
      }
    }
    .container {
      .summary {
        font-size: 1rem;
        h1 {
          font-size: 1.25rem;
        }
      }
    }
  }
  #block-b {
    .title-box {
      .header-b {
        font-size: 1.8rem;
      }
      #underline {
        width: 6.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  #block-c {
    .title-box {
      margin-left: 0;
      .header-c {
        font-size: 1.8rem;
      }
      #underline {
        width: 8rem;
        margin-bottom: 1rem;
      }
    }
    .container {
      .left-side-text {
        .vistor-text {
          font-size: 1rem;
          padding-top: 0%;
          line-height: 1.5rem;
        }
        #React {
          margin-top: 1%;
          padding-top: 2%;
          button {
            padding: 10px;
            margin: 3px;
          }
        }
      }
      .map {
        min-height: 0;
        height: 300px;
      }
    }
  }
}

@media (max-height: 330px) {
  #bar-above {
    width: 24rem;
  }
  #bar-below {
    width: 24rem;
  }

  #header-main {
    p {
      font-size: 2.1rem;
    }
  }
  #block-a {
    .title-box {
      .header-a {
        font-size: 1.8rem;
      }
      #underline {
        width: 5rem;
        margin-bottom: 1rem;
      }
    }
    .container {
      .summary {
        font-size: 1rem;
        h1 {
          font-size: 1.25rem;
        }
      }
    }
  }
  #block-b {
    .title-box {
      .header-b {
        font-size: 1.8rem;
      }
      #underline {
        width: 6.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  #block-c {
    .title-box {
      margin-left: 0;
      .header-c {
        font-size: 1.8rem;
      }
      #underline {
        width: 8rem;
        margin-bottom: 1rem;
      }
    }
    .container {
      .left-side-text {
        .vistor-text {
          font-size: 1rem;
          padding-top: 0%;
          line-height: 1.5rem;
        }
        #React {
          margin-top: 1%;
          padding-top: 2%;
          button {
            padding: 10px;
            margin: 3px;
          }
        }
      }
      .map {
        min-height: 0;
        height: 300px;
      }
    }
  }
}

@media (min-width: 1900px) {
  #block-a {
    padding: 0 15% 7.5% 15%;
    .title-box {
      .header-a {
        font-size: 2.5rem;
      }
      #underline {
        width: 6.75rem;
      }
    }
    .container {
      .summary {
        font-size: 1.25rem;

        h1 {
          font-size: 1.75rem;
        }
      }
    }
  }

  #block-b {
    padding: 0 15% 7.5% 15%;
    .title-box {
      .header-b {
        font-size: 2.5rem;
      }
      #underline {
        width: 12rem;
      }
    }
  }

  #block-c {
    padding: 0 15% 7.5% 15%;
    .title-box {
      .header-c {
        font-size: 2.5rem;
      }
      #underline {
        width: 11rem;
      }
    }

    .container {
      .left-side-text {
        .vistor-text {
          font-size: 1.3rem;
        }
      }
    }
  }
}
