// Variables for styling

$light-color: #f4f4f4;
$dark-color: #222;
$dark-color-T: rgba(34, 34, 34, 0.9);
$dark-green: #003220;
$gold: #f5d00c;
$forest-green: #228b22;
$tan: #c48f49;
$cream: #fcf1b3;
$brownish: #502c11;
