// Imports
@import "variables";

// Reset on defaults
* {
  margin: 0;
  padding: 0;
}

// Core Elements
body {
  background: url("../images/dan-otis-OYFHT4X5isg-unsplash.jpg") no-repeat fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#bar {
  height: 2px;
  width: 5rem;
  background-color: $light-color;
  display: block;
  margin: 0 auto 1rem auto;
}

// Main Header
#header-main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "EB Garamond", serif;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 90%;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.5;
    color: #fff;

    .h-tag-1 {
      color: $gold;
    }

    .h-tag-2 {
      color: $forest-green;
    }
  }
}

// Main-Nav
#main-nav {
  display: flex;
  position: sticky;
  top: 0;
  background: $dark-color;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  #time-stamp {
    color: $cream;
  }
  h2 {
    padding-top: 0.5rem;
    font-size: 1.75rem;
    margin-left: 5%;
  }

  ul {
    display: flex;
    align-items: center;
    margin-right: 3%;
  }

  li {
    display: inline-block;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  a {
    color: $gold;
    text-transform: uppercase;
  }

  li:hover {
    cursor: pointer;
    background-color: $cream;
    border-radius: 5%;

    a {
      color: $dark-color;
    }
  }
}

// Section A

#block-a {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0% 2% 7.5% 2%;
  .header-a {
    text-align: center;
    background: transparent;
    opacity: 1;

    font-size: 2.75rem;
    color: #ddd;
    height: 7.5vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5rem;

    height: 60vh;

    // LEft Side of the Grid
    .left-side {
      background: $dark-color-T;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: all 0.5s ease;

      .rows {
        background-color: #444;

        width: 25%;
        font-size: 1.5rem;
        transition: all 0.5s ease;
      }

      a {
        font-family: "EB Garamond", serif;
        color: $gold;
        padding-right: 5%;
        display: flex;
        align-content: center;
        justify-content: end;
        transition: all 0.2s ease;
        visibility: hidden;
      }
    }

    .middle {
      background-color: transparent;
      text-align: center;
      display: grid;
      grid-template-areas:
        "icon1 icon2"
        "icon3 icon4"
        "icon5 icon6"
        "icon7 icon8";
      grid-gap: 0.25rem;

      .item {
        color: $gold;
        padding: 10% 5% 0% 5%;
        text-align: center;
        opacity: 0.4;
        transition: all 0.5s ease;
      }
    }
    // Right Side of the Grid
    .right-side {
      background: $dark-color-T;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .rows {
        background-color: #444;
        width: 25%;
        font-size: 1.5rem;
        margin-left: 75%;
        transition: all 0.5s ease;
      }

      a {
        font-family: "EB Garamond", serif;
        padding-left: 5%;
        color: $gold;
        display: flex;
        align-content: center;
        transition: all 0.2s ease;
        visibility: hidden;
      }
    }
  }

  // Hover State to activate Transistions
  .container:hover {
    .left-side {
      .rows {
        transform: rotateX(360deg);
        width: 75%;
        margin-left: 10%;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        font-size: 1.8rem;
      }

      a {
        visibility: visible;
        color: $gold;
      }
    }

    .middle {
      .item {
        border: 3px $cream solid;
        opacity: 1;
      }
    }

    .right-side {
      .rows {
        transform: rotateX(360deg);
        width: 75%;
        margin-left: 15%;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        font-size: 1.8rem;
      }

      a {
        visibility: visible;
        color: $gold;
      }
    }
  }
}

// Section C About me Home
#block-c {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0% 2% 7.5% 2%;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-column-gap: 1vw;

    .sec {
      position: relative;
    }

    .lines {
      margin: 0 0;
      padding: 0 0;
      height: 100%;
      background: #fff;
      height: 2vh;
    }

    .line-3,
    .line-6 {
      opacity: 0.8;
    }

    .line-7,
    .line-10 {
      opacity: 0.6;
    }

    .line-11,
    .line-14 {
      opacity: 0.4;
    }

    .line-1,
    .line-5,
    .line-9,
    .line-13,
    .line-4,
    .line-8,
    .line-12,
    .line-16 {
      background-color: transparent;
    }

    .line-3,
    .line-7,
    .line-11,
    .line-15 {
      background-color: $light-color;
      transition: all 1s ease-in-out;
    }

    .line-2,
    .line-6,
    .line-10,
    .line-14 {
      background-color: $tan;
      transition: all 1s ease-in-out;
    }

    .line-15 {
      opacity: 0.2;
      background-color: $light-color;
    }
    .line-14 {
      background-color: $tan;
    }

    .home-about {
      background: $light-color;
      color: $dark-color;
      height: 50vh;

      line-height: 3rem;
      text-align: center;
      padding-top: 10%;
      border-radius: 10% 0 0 0;

      h1 {
        padding-top: 10%;

        font-size: 3rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }

    .description {
      height: 50vh;

      text-align: center;
      background: $tan;
      color: $light-color;
      padding-top: 10%;
      font-size: 1.2rem;

      border-radius: 0 10% 0 0;

      .summary {
        padding-top: 10%;
      }
    }
  }

  &:hover {
    .line-2,
    .line-6,
    .line-10,
    .line-14 {
      transform: translateX(-102.05%);
    }

    .line-3,
    .line-7,
    .line-11,
    .line-15 {
      transform: translateX(102%);
    }
  }
}

// Map Section
#section-d {
  background-color: rgba(0, 0, 0, 0.2);

  height: 60vh;
  padding: 0% 2% 7.5% 2%;

  .container {
    display: grid;
    background: $dark-color-T;
    grid-template-columns: repeat(2, 1fr);
    border: 1px $cream solid;
    .left-side-text {
      color: #fff;
      text-align: center;

      .vistor-text {
        font-size: 1.5rem;
        padding-top: 15%;
        line-height: 1.8rem;
        margin-left: 7.5%;
        margin-right: 7.5%;
      }

      #React {
        padding-top: 5%;
      }
    }

    .map {
      width: 60vw;
      height: 60vh;
    }
  }
}

// Contact me Block
#section-e {
  background-color: rgba(0, 0, 0, 0.2);
  height: 60vh;
  padding: 0% 2% 7.5% 2%;

  .container {
    // opacity: 0.75;
    background: $dark-green;
    display: flex;
    height: inherit;
    border: 1px $cream solid;

    form {
      display: flex;
      width: 55%;
      color: $gold;
      font-size: 1.1rem;
      font-weight: bold;

      .left-side-form {
        flex: 1.5;

        div {
          padding: 1.1rem;
        }

        .contact-me-title {
          padding-top: 1rem;
          padding-left: 1rem;
          padding-bottom: 1rem;
        }

        label {
          display: block;
          padding-bottom: 0.5rem;
        }

        input {
          height: 1.3rem;
          width: 15rem;
          border-radius: 3px;
          border: 1px rgb(0, 0, 0) solid;
        }

        button {
          margin-top: 0.8rem;
          margin-left: 4rem;
          height: 2.2rem;
          width: 6rem;
          border: 1px rgb(0, 0, 0) solid;
          border-radius: 5px;
        }
      }

      .subject {
        flex: 1.5;

        label {
          display: block;
          padding-top: 4.05rem;
        }

        textarea {
          margin-top: 0.52rem;
          width: 85%;
          border: 1px rgb(0, 0, 0) solid;
          border-radius: 3px;
        }
      }
    }

    img {
      width: 45%;
    }
  }
}

// Footer on Landing Page
#footer {
  background: $dark-color;

  h4 {
    color: #fff;
    font-size: 1.2rem;
    padding-left: 1.5%;
    padding-top: 1.75%;
    margin-left: 3.5%;
  }
  .container {
    display: flex;

    .copyright {
      flex: 1;
    }

    .item-links {
      flex: 2;
      text-align: end;
      margin-right: 3.5%;

      padding: 0.5rem;
      justify-content: space-between;

      align-items: center;

      a {
        text-align: center;
        justify-content: center;

        i {
          color: #fff;
          margin-right: 1rem;
          border: 2px #fff solid;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          padding: 0.3rem;
          transition: all 0.5s;

          &:hover {
            background: $forest-green;
            border: 2px $gold dotted;
            transform: rotateZ(360deg);
          }
        }
      }
    }
  }
}

// Import Media Queries
@import "media";
