// Imports
@import "variables";

// Reset on defaults
* {
  margin: 0;
  padding: 0;
}

// Core Elements
body {
  background: url("../images/home-page.jpg") no-repeat fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#bar {
  height: 2px;
  width: 5rem;
  background-color: $light-color;
  display: block;
  margin: 0 auto 1rem auto;
}

// Main-Nav
#main-nav {
  display: flex;
  position: sticky;
  top: 0;
  background: $dark-color;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  #time-stamp {
    color: $cream;
  }
  h2 {
    padding-top: 0.5rem;
    font-size: 1.75rem;
    margin-left: 5%;
  }

  ul {
    display: flex;
    align-items: center;
    margin-right: 3%;
  }

  li {
    display: inline-block;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  a {
    color: $gold;
    text-transform: uppercase;
  }

  li:hover {
    cursor: pointer;
    background-color: $cream;
    border-radius: 5%;

    a {
      color: $dark-color;
    }
  }
}

// Main Header
#header-main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "EB Garamond", serif;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 90%;

    .item-links {
      a {
        text-align: center;

        i {
          color: #fff;
          margin-right: 1rem;
          border: 1px #fff solid;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          line-height: 25px;
          padding: 0.3rem;
          transition: all 0.5s;

          &:hover {
            background: $forest-green;
            border: 1px $gold solid;
            transform: rotateZ(360deg);
          }
        }
      }
    }
  }

  h1 {
    font-size: 4rem;
    line-height: 1.5;
    color: #e5e5e5;

    .h-tag-1 {
      color: $gold;
    }

    .h-tag-2 {
      color: $forest-green;
    }
  }
}

// Section A About me
#block-a {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0% 2% 7.5% 2%;

  .header-a {
    text-align: center;
    background: transparent;
    opacity: 1;

    font-size: 2.75rem;
    color: #ddd;
    height: 10%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    .sec {
      position: relative;
    }

    .lines {
      margin: 0 0;
      padding: 0 0;

      background: #e5e5e5;
      height: 1.5rem;
    }

    .line-3,
    .line-6 {
      opacity: 0.8;
    }

    .line-7,
    .line-10 {
      opacity: 0.6;
    }

    .line-11,
    .line-14 {
      opacity: 0.4;
    }

    .line-1,
    .line-5,
    .line-9,
    .line-13,
    .line-4,
    .line-8,
    .line-12,
    .line-16 {
      background-color: transparent;
    }

    .line-3,
    .line-7,
    .line-11,
    .line-15 {
      background-color: $light-color;
      transition: all 1s ease-in-out;
    }

    .line-2,
    .line-6,
    .line-10,
    .line-14 {
      background-color: $tan;
      transition: all 1s ease-in-out;
    }

    .line-15 {
      opacity: 0.2;
      background-color: $light-color;
    }
    .line-14 {
      background-color: $tan;
    }

    .home-about {
      background: #e5e5e5;
      color: $dark-color;

      line-height: 3rem;
      text-align: center;
      padding-top: 10%;
      border-radius: 10% 0 0 0;

      h1 {
        padding-top: 2.5%;
        font-size: 3rem;
      }

      h2 {
        padding-top: 2.5%;
        font-size: 2.5rem;
      }

      h3 {
        padding-top: 2.5%;
        font-size: 2rem;
      }

      h4 {
        padding-top: 1.75%;
        font-size: 1.3rem;
      }
    }

    .description {
      text-align: center;
      background: $tan;
      color: $light-color;
      padding-top: 10%;

      border-radius: 0 10% 0 0;

      .summary {
        padding: 2.5% 8% 0 8%;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: left;
      }

      .build-stack {
        padding-top: 7.5%;
        color: $dark-color;
      }
    }
  }

  &:hover {
    .line-2,
    .line-6,
    .line-10,
    .line-14 {
      transform: translateX(-104.05%);
    }

    .line-3,
    .line-7,
    .line-11,
    .line-15 {
      transform: translateX(104.05%);
    }
  }
}

// Section B. Languages & Experience

#block-b {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2% 2% 7.5% 2%;

  a {
    pointer-events: none;
    cursor: default;
  }
  .header-b {
    text-align: center;
    background: transparent;

    font-size: 2.75rem;
    color: #ddd;
    height: 10%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5rem;

    height: auto;
    overflow: hidden;

    // LEft Side of the Grid
    .left-side {
      background: $dark-color-T;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .rows {
        background-color: #444;
        width: 25%;
        font-size: 1.5rem;
        transition: all 0.5s ease;

        a {
          font-family: "EB Garamond", serif;
          color: $gold;
          padding-right: 5%;
          display: flex;
          align-content: center;
          justify-content: flex-end;
          transition: all 0.2s ease;
          visibility: hidden;
        }
      }
    }

    .middle {
      background-color: transparent;
      text-align: center;

      display: grid;
      grid-template-areas:
        "icon1 icon2"
        "icon3 icon4"
        "icon5 icon6"
        "icon7 icon8";
      grid-gap: 0.25rem;

      .item {
        color: $gold;
        padding: 10% 5% 10% 5%;
        text-align: center;
        opacity: 1;
        border: 3px $cream solid;
        transition: all 0.5s ease;
      }
    }
    // Right Side of the Grid
    .right-side {
      background: $dark-color-T;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .rows {
        background-color: #444;
        width: 25%;
        font-size: 1.5rem;
        margin-left: 75%;
        transition: all 0.5s ease;
      }

      a {
        font-family: "EB Garamond", serif;
        padding-left: 5%;
        color: $gold;
        display: flex;
        align-content: center;
        transition: all 0.2s ease;
        visibility: hidden;
      }
    }
  }

  // Hover State to activate Transistions
  .container:hover {
    .left-side {
      .rows {
        transform: rotateX(360deg);
        width: 75%;
        margin-left: 10%;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        font-size: 1.8rem;
      }

      a {
        visibility: visible;
        color: $gold;
      }
    }

    .right-side {
      .rows {
        transform: rotateX(360deg);
        width: 75%;
        margin-left: 15%;
        padding: 5px 0 5px 0;
        border-radius: 5px;
        font-size: 1.8rem;
      }

      a {
        visibility: visible;
        color: $gold;
      }
    }
  }
}

// Map Section
#block-c {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2% 2% 7.5% 2%;

  .header-c {
    text-align: center;
    background: transparent;
    opacity: 1;

    font-size: 2.75rem;
    color: #ddd;
    height: 10%;
  }

  .container {
    display: grid;
    background: $dark-color-T;
    grid-template-columns: repeat(3, 1fr);
    border: 1px $cream solid;
    height: auto;
    overflow: auto;
    .left-side-text {
      color: #fff;
      text-align: center;

      .vistor-text {
        font-size: 1.5rem;
        padding-top: 15%;
        line-height: 1.8rem;
        margin-left: 7.5%;
        margin-right: 7.5%;
      }

      #React {
        margin-top: 10%;
        button {
          background-color: $gold;
          color: $dark-color;
          margin: 5px;
          padding: 12px;
          border: 3px #e5e5e5 solid;
          border-radius: 10px;
          font-size: 1rem;
          transition: all 0.2s ease-in-out;
        }
        button:hover {
          background: $water;
          border: 3px $gold solid;
          color: $dark-color;
          cursor: pointer;
          transform: scale(1.1);
        }
        button:active {
          transform: translateY(1px);
        }
      }
    }

    .map {
      min-height: 500px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

// Footer on Landing Page
#footer {
  background: $dark-color;
  height: 5rem;
  h4 {
    color: #fff;
    font-size: 1.2rem;
    padding-left: 1.5%;
    margin-left: 3.5%;
  }
  .container {
    height: 5rem;
    display: flex;
    align-items: center;
    .copyright {
      flex: 1;
    }

    .tooltip {
      position: relative;
      font-size: 1rem;
      color: $gold;

      .tooltiptext {
        visibility: hidden;
        background-color: $cream;
        color: $dark-green;
        text-align: center;
        padding: 3px 3;
        position: absolute;
        border-radius: 5px;
        width: 200px;
        bottom: 150%;
        left: 50%;
        margin-left: -40px;
      }
    }
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 20%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $cream transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    .item-links {
      flex: 2;
      text-align: end;
      margin-right: 3.5%;

      padding: 0.5rem;

      a {
        text-align: center;
        justify-content: center;

        i {
          color: #fff;
          margin-right: 1rem;
          border: 2px #fff solid;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          padding: 0.3rem;
          transition: all 0.5s;

          &:hover {
            background: $forest-green;
            border: 2px $gold dotted;
            transform: rotateZ(360deg);
          }
        }
      }
    }
  }
}

// Import Media Queries
@import "media";
