@import "variables";

// Reset defaults
* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../images/projects-page.jpg") no-repeat fixed;
  background-size: cover;
}

.bar {
  height: 1px;
  width: 40%;
  background-color: $light-color;
  display: block;
  margin: 12.5% auto 1rem auto;
}
.bar-alt {
  height: 1px;
  width: 40%;
  background-color: $light-color;
  display: block;
  margin: 7.5% auto 1rem auto;
}

#main-nav {
  display: flex;
  position: sticky;
  top: 0;
  background: $dark-color;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  #time-stamp {
    color: $cream;
  }
  h2 {
    padding-top: 0.5rem;
    font-size: 1.75rem;
    margin-left: 5%;
  }

  ul {
    display: flex;
    align-items: center;
    margin-right: 3%;
  }

  li {
    display: inline-block;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
  }

  a {
    color: $gold;
    text-transform: uppercase;
    text-decoration: none;
  }

  li:hover {
    cursor: pointer;
    background-color: $cream;
    border-radius: 5%;

    a {
      color: $dark-color;
    }
  }
}

#header {
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-family: "Lato", sans-serif;
    color: rgb(232, 205, 149);
    padding-top: 5%;
    font-size: 3.4rem;
    position: relative;
  }
}

#project {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.6);
  .summary {
    text-align: center;

    h1 {
      font-family: "Source Sans Pro", sans-serif;
      color: $water;
      padding: 1.5% 0 1.5% 0;
      font-size: 2rem;
    }
    p {
      font-family: "Lato", sans-serif;
      line-height: 1.6rem;
      font-size: 1rem;
      color: $cream;
      padding: 1% 20% 2.5% 20%;
    }
    h3 {
      color: $gold;
    }
    a {
      text-align: center;

      i {
        color: #fff;
        margin-right: 1rem;
        border: 1px #fff transparent;

        line-height: 25px;
        padding: 0.3rem;
        transition: all 0.5s;

        &:hover {
          color: $cream;
        }
      }
    }
  }

  .preview {
    background: url("../images/ScreenShot.jpg") no-repeat;
    background-size: 75% 75%;
    background-position: center;
  }
}

// Import Media Queries
@import "mediaProj";
